.clickedForm {
    color:red;
    opacity: 1;
}
.defaultForm {
    color:black;
    opacity: 0.3;
}

.cardDefault {
    max-width: 345px;
    margin:0 37%;
    opacity: 0.3;
    position: fixed;
    top: 70px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}
.media {
    height: 140px;
}

.backVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
/*
//////////// for the "SignInSide component /////
*/
.image {
    background-image: 'url(https://source.unsplash.com/random)';
    background-repeat: 'no-repeat';
    /*backgroundColor:
      theme.palette.type === 'dark' ? theme.palette.grey[900] : theme.palette.grey[50],
    */
    background-size: 'cover';
    background-position: 'center';
}
.root {
    height: 100vh;
}
.paper {
    margin: 8 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar{
    margin: 1;
    /*background-color: theme.palette.secondary.main*/
}
.form {
    width: 100%;
    margin-top: 1;
}
.submit {
    margin: 3 0 2;
}